<div class="container-fluid d-flex align-items-center justify-content-center align-content-center">
    <div class="card">
        <div class="card-title" style="text-align: center;">
            <h5 class="mb-2 mt-2">Niel's Kitchen</h5>
            <h5>Reset your Password</h5>
        </div>
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="card-body">
            {{if .Forgotten}}
            <p>You have successfully initiated password reset.<br>
                Check your email for for the password reset instruction.
            </p>
            {{else}}
            <div id="password-reset">
                {{.xsrfdata}}
                <div class="mb-3">
                    <label for="username" class="form-label">Insert your username:</label>
                    <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="User Name" required>
                    <div class="invalid-feedback">Please enter a username!</div>
                </div>
                <button type="submit" class="btn btn-primary forget-password-submit">Submit</button>
            </div>
            {{end}}
        </div>
        <div class="card-footer" style="text-align: center;">
            <a href="{{urlfor "AuthController.LoginPage"}}">Back to Log In Page</a><br>
        </div>
    </div>
</div>