<div class="container-fluid d-flex align-items-center justify-content-center align-content-center">
    <div class="card">
        <div class="card-title" style="text-align: center;">
            <h5 class="mt-2">Reset your Password<br>Niel's Kitchen Catalog</h5>
        </div>
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="card-body">
            {{if .IsValid}}
            <div id="user-login">
                {{.xsrfdata}}
                <input type="text" id="token" value="{{.Token}}" hidden>
                <div class="mb-3">
                    <label for="password1" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="password1" id="password1" aria-describedby="passwordHelp" required minlength="8" maxlength="20">
                    <span class="form-text" id="passwordHelp">Password should have 8-20 characters length.</span>
                    <div class="invalid-feedback">Please enter a password!</div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Retype the New Password</label>
                    <input type="password" class="form-control" name="password2" id="password2" required>
                    <div class="invalid-feedback">Password does not match!</div>
                </div>
                <button type="submit" class="btn btn-primary reset-password-submit">Submit</button>
            </div>
            {{else}}
            <p>The token that you provide is invalid. Possibly the token is wrong or the token is expired.<br>
                Double check the token, or make a password reset request again.
            </p>
            {{end}}
        </div>
        <div class="card-footer" style="text-align: center;">
            <a href="{{urlfor "AuthController.LoginPage"}}">Back to Log In Page</a><br>
        </div>
    </div>
</div>