<script>
    $(document).ready(function() {
        var alert = $(".alert");

        $(".login-submit").click(function() {
            // Hide errors on form
            alert.hide();
            $("#username").parent().children(".invalid-feedback").hide();
            $("#password").parent().children(".invalid-feedback").hide();

            var username = $("#username").val().trim();
            var password = $("#password").val().trim();
            var xsrf_token = $('input[name="_xsrf"]').val().trim();

            if (username != "" && password != "") {
                $.ajax({
                    url: "/auth/login",
                    type: "post",
                    dataType: "json",
                    contentType: "application/json",
                    headers: {
                        'X-XSRFToken': xsrf_token
                    },
                    data: JSON.stringify({
                        "username": username,
                        "password": password,
                    }),
                    success: function(res) {
                        if (res["data"]["response"] == "ok") {
                            window.location.href = "/";
                        } else if (res["data"]["response"] == "not found" || res["data"]["response"] == "not found")  {
                            console.log(`Error: ${res["data"]["response"]}`);
                            alert.html("Invalid username / password. Please try again.").show();
                        } else {
                            console.log(`Error: ${res["data"]["response"]}`);
                            alert.html("Backend server error. Please try again later.").show();
                        }
                    },
                    error: function() {
                        alert.html("Failed to connect the authentication backend.").show();
                    }
                });
            } else if (username != "" && password == "") {
                $("#password").parent().children(".invalid-feedback").show();
            } else if (username == "" && password != "") {
                $("#username").parent().children(".invalid-feedback").show();
            } else {
                $("#username").parent().children(".invalid-feedback").show();
                $("#password").parent().children(".invalid-feedback").show();
            }
        });
    });
</script>